/* 
This is a CSS comment 
for adding a comment
*/
body {
    padding: 92px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(43, 2, 2);
    /*adding background image*/
    background-image: url(../images/white_brick_wall.png);
}

/* box model example*/
section p {
    width: 50%;
    /* single value-top/bottom/ left/right*/
    /* 2values = first value-top bottom, 2nd value -left/right*/
    padding: 1em 0.5em;
    margin: 1em 2em 2em 2em;
    border-bottom: 2pxsolid black;
}

.container{
    /* always contains a container cotaining everything inside the body tag*/
    max-width: 1200px;
    /* top/bottom and left/right */
    margin: 0 auto;
}

img{
    width: 100%;
}

h1{
    color:rgb(1, 1, 31);
}

p{
    background-color: antiquewhite;
}
/*selection multiple elements*/
h1,h2,h3,h4 {
    text-decoration: underline;
}
/*selecting chile elements*/
nav ul {
    list-style: none;

}

nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
}


/*selecting child elements with multiple levels*/
nav ul a {
    color: darkslategray;
    text-decoration: none;
    font-size: 1.5rem;
    /* 1.5 rem = 1.5 * 16 px = 24 px */
}

/* selectig element with ID value*/
#treatofweek {
    /* color image repeat position-x position-y */
    background: cadetblue url(../images/bread.jpg)
    no-repeat center;

    /* background size*/
    background-size: cover;

    font-size: 1.25rem;
    /* 1.25 * 16 px = 20px */
    padding: 1em;
    /* 1 * 20 px= 20px*/ 

    border: 1.5em solid black;

    /* viewport based unit */
    /* width: 100vw; */
    /* scroll wheel bc it has space coming from the parent, it goes out of the screen which is not ideal */
    position:relative;
    
}

.blue-link.large-text{
    position: absolute;
    bottom: 0;
    right:  0;

}

.blue-link {
    /*em = 1.5 times the font size i.e 1.5 multiply font size */
    padding: 1.5em;
    width: 300px;
    display: block;

    background-color: darkslategray;
    color: antiquewhite;
    text-decoration: none; 
    float:right;
}

.large-text {
    font-size: 20px;
}

article,
aside{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}

aside{
    width: 20%;
}

section{
    clear: both;
}

.white-text {
    color: antiquewhite;
}

/* combinators
direct child selector - will only select child of the parent*/

/* CSS typography properties*/
article>p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}

/*Adjacent sibling selector - selects the element that is the very next sibling to the selected element*/

h3+ul {
    border: 1px solid black;
}

h3~p {
    text-transform: uppercase;
}

/*attribute selectors */

[href="#treatofweek"] {
    font-weight: bold;
    font-size: 32px;
}


  [src="./images/coffee-shop.jpg"] {
    border: 4px solid darkslategray
}

/*$ sign will the border to all images*/

[src$=".jpg"] {
    border:4px solid rgb(14, 2, 43)
}

/*fixed navigation*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}


/*psuedoclasses */
nav ul a,
nav ul a:link,
nav ul a:visited {
    background-color: antiquewhite;
    /* horizontal vertical blur, spread, color*/
    box-shadow: 2px 2px 4px 2px black;

}
nav ul .current,
nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
    background-color: antiquewhite;
}

nav ul a:active {
    box-shadow: 0px 0px 5px 1px red;
}

/* position selectors
first child and last child*/

aside ul li:first-child{
    font-weight: bold;
}

section ol li:last-child {
    font-weight: bold;
}

/* styling table*/
table {
    border-collapse: collapse;
}

/* nth child selector - even/odd */
/* hex color value with 6 charachters */

tbody tr:nth-child(even) {
    background-color: #d5836c;
}





/* using nth child with n */
/* where n is 0,1,2,3..... until number elements*/

table th:nth-child(n),
table td:nth-child(n) {
border: 1px solid green;
}

/*using formula in nth-child selector*/

table td:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.2)
}

/* css specificity 
formula: in-line style,id, class, Tag-name (0,0,0,0)
*/

footer{
    background-color: aqua;
}

/* (o,o,o,2) */
body footer {
    background-color: orange;
}

/* (0,0,1,0)*/
.site-footer {
    background-color: antiquewhite;
}

/* (0,0,0,2)*/
article h2 {
    text-transform: uppercase;
}

/* (0,0,1,1) */
footer.site-footer {
    background-color: #d5836c;
}




