body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
header,footer{
    background-color: rgb(0, 13, 9);
}
.site-title{
    color: white;
}
#my-image{
    box-shadow: 0px 0px 2px 1px black ;
}
footer{
    color: white;
}
nav ul {
    list-style: none;
}
nav ul a {
    text-decoration: none;
    color: rgb(13, 0, 0);
    text-transform: uppercase;
    border: 2px solid rgb(83, 83, 2);
    background-color: beige;
    box-shadow: 0px 1px 2px 1px rgb(132, 74, 74);
    
}
.important-notes {
    color: white;
}
nav ul .current,
nav ul a:hover,
nav ul a:focus{
    background-color: rgb(222, 184, 186);
}

