.container {
    max-width: 1200px;
    margin: 30px auto;
    background-color: #cff5f0;

}

html {
    background-color: #aad4cf;
}

#img {
    width: 100%;
}

.site-title {
    color: white;
    position: absolute;
    top: 20%;
    left: 38%;
    font-size: 50pt;

}

nav ul {
    list-style: none;
    text-align: center;

}

nav ul li {
    display: inline-block;
    width: 25%;
    padding: 1em;
}


nav ul a {
    text-decoration: none;
    color: black;
    font-size: 15pt;

}

body {
    margin: 2px;
}

#image {
    float: left;
    margin: 3px 12px 3px 10px;
    height: 200px;
    width: 200px;
    border: 1px;


}

p {
    text-align: justify;
    font-size: 20px;
    width: 1180px;
}

.facts {
    font-size: 14pt;
}

.name {
    font-size: 14pt;

}

.form {
    border: 2px solid black;
    margin: 20px;


}

#name {
    width: 1125px;
    height: 30px;
}

#email {
    width: 1125px;
    height: 30px;
}

#message {
    width: 1125px;
    height: 80px;
}

.site-footer {
    float: right;
    font-size: 14pt;
}