header {
    background: url(../images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  nav {
    width: 100%;
    background-color: #000;
    
  }

  
  .navbar a:hover {
    background-color: orange;
  }
  
  .current {
    background-color: rgb(160, 116, 35);
  }
  .search-container {
    display: flex;
    justify-content: center;
  }
  
  .navbar {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(14, 2, 2);
    display: flex;
    justify-content: space-around;
    height: 15%;
    align-items: center;
  }

/*Adding form with css properties*/

#name {
    width: 100%;
    height: 40px;
}

#email {
    width: 100%;
    height: 40px;
}

#message {
    width: 100%;
    height: 40px;
}




