/*adding font family of open sans in body*/
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

/*adding max-width of 1200px to the main container*/
.main-container {
  max-width: 1200px;
  justify-content: center;

}

/* Navbar styles */
body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

nav {
  width: 100%;
  background-color: #000;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-logo>img {
  width: 60px;
  height: 100%;
}

.navbar a:hover {
  background-color: orange;
}

.active {
  background-color: orange;
}

/* search container styles*/
.search-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search_img {
  width: 20px;
  height: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
}

button[type="submit"] {
  padding: 12px 15px;
  border: 1px solid orange;
  background-color: transparent;
  color: orange;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* adding styles to header*/
header {
  background-image: url(../images/main-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  gap: 10px;
  margin: 3rem;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 46px;
  height: 80%;
}

.main {
  width: 1400px;
}

.highlight {
  color: #fff;

  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: orange;
  color: #000;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  width: 300px;
  padding: 10px 30px;
}



.btn:hover {
  background-color: #e66000;
}

p {
  color: #fff;
  font-size: 1.2rem;
}

.about-parent {
  width: 100vw;
  background: #ffe6ac;
}

/*adding styles to about*/
.about-us,
.team {
  background: #ffe6ac;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 20px;
  width: 80%;
  margin: 20px auto;
}

.vision {
  color: #fff;

}

.team {
  margin: auto;
}

.team-1,
.about-1 {
  flex: 1;
}

.team-1 img,
.about-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.team-2,
.about-2 {
  flex: 1;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.team-2 {
  margin: 0;
}

.team-2 h3,
.about-2 h3 {
  font-size: 24px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.team-2 p,
.about-2 p {
  padding-left: 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 1.5;
}

.grid-container-2,
.grid-container {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(2, 41%);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.grid-container-2 {
  grid-template-columns: repeat(3, 27%);
}

.item-1,
.item-2 {
  background: #ffe6ac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 0 20px 0;
  margin: 20px;
  gap: 15px;
  position: relative;
}

.item-1 img,
.item-2 img {
  width: 100%;
  height: auto;
}

.item-1>h3,
.item-2>h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 80%;
  margin: auto;
}

.item-1>p,
.item-2>p {
  color: black;
  font-size: 16px;
  text-align: start;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.our-vision>div>h3 {
  color: white;
}

.item-1 button,
.item-2 button,
.our-vision>div>button {
  padding: 10px 30px;
  background-color: black;
  color: #fff;
  width: 90%;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.our-vision>div>button {
  width: 0%;
  margin: 0;
}

.our-vision {
  background-image: url(../images/vision.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 100vw;
}

.our-vision>div {
  display: flex;
  padding: 34px 129px;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}

.our-vision>div>button {
  width: 200px;
}



/*styling for form*/

#name {
  width: 500px;
}

#email {
  width: 500px;
}

#message {
  width: 500px;
}

.map-container {
  flex-basis: 50%;


}


form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.headline {
  margin: 20px auto;
  width: 80%;
  background-color: white;
}

.contact-us {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.contact-form {
  flex-basis: 50%;
  flex-direction: column;
  width: 45%;
  gap: 12px;
  align-items: start;
}

/* Style the form inputs */
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  resize: vertical;
}

/* Style the submit button */
input[type="submit"] {
  background-color: black;
  color: orange;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the map container */
.map-container {
  flex-basis: 50%;
  width: 40%;
  height: 400px;
  margin-top: 20px;
  padding-bottom: 100px;
}


table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

/* Style the table header */
th {
  text-align: left;
  padding: 8px;
  background: #ffe6ac;
  border: 1px solid #ddd;
}

/* Style the table cells */
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

footer {
  background-color: #333;
  height: 50px;
}

.footer {
  font-size: 0.5em;
  width: 80%;
  margin: 0 auto;
  background-color: #0f0e0e;
  color: orange;
  text-align: center;
  text-align: left;
  padding: 10px 0;
}

.triangle-button {
  position: relative;
  padding: 10px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.triangle-button::before {
  position: absolute;
  top: 50%;
  right: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  padding: 0 5px;
}

.bottom-border {
  border-bottom: 2px solid orange;
  padding-left: 20px;
  font-weight: bold;

}


.message {
  font-size: 1.25em;
  font-weight: bold;
}

.location {
  font-size: 1.25em;
  font-weight: bold;
}


/*adding style for screen 760px */
@media screen and (max-width: 760px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }

  .nav-logo {
    background-color: orange;
    width: 100%;
  }

  .navbar a {
    width: 100%;
    text-align: center;
  }

  .search-container {
    width: 100%;
    margin: 0 auto;
    height: 40px;
  }

  .container {
    padding: 20px;
    height: 99%;
  }

  .highlight {
    font-size: 20px;
  }

  .highlight_para {
    font-size: 10px;
  }

  .btn {
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
    width: 100px;
  }

  .main {
    width: 100%;
  }

  .about-parent>.about-us,
  .team {
    flex-direction: column;
  }

  .team {
    padding: 5px;
  }

  .bob-team:nth-child(1) {
    order: 1;
  }

  .bob-team:nth-child(3) {
    order: 2;
  }

  .bob-team:nth-child(2) {
    order: 2;
  }

  .about-1,
  .about-2 {
    width: 100%;
    padding: 0px;
    text-align: left;
    margin: 0;
  }

  .grid-container-2,
  .grid-container {
    grid-template-columns: repeat(1, 100%);
    width: 80%;
    margin: auto;
  }

  .item-1,
  .item-2 {
    align-items: self-start;
    padding: 5px 10px;
  }

  .item-1>p,
  .item-2>p {
    text-align: left;
  }

  .our-vision {
    height: 270px;
  }

  .our-vision>div {
    padding: 10px 10px;
  }
}


@media (max-width: 600px) {
  input[type="text"] {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

@media (max-width: 600px) {
  input[type="text"] {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;


  }

  .contact-us {
    display: flex;
    flex-direction: column;
  }

}